@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.contents {
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;

  /*以下修正により追加*/
  padding: 20px;
  box-sizing: border-box;
  /*以上修正により追加*/
}

.contents_box {
  padding: 20px;
  background-color: #3274ae;
  float: left;

  /*以下修正により削除*/
  /*margin: 20px 0 20px 20px;*/
  /*以上修正により削除*/
  /*以下修正により追加*/
  margin-left: 20px;
  /*以上修正により追加*/
}

.contents_box:first-child {
  margin-left: 0;
}

.text {
  width: 230px;
  padding: 20px;
  border: 10px solid #022336;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
}
/* 回答はここに書いてね */
