@charset "UTF-8";

/* 回答はここに書いてね */

.textbox {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: solid 5px #222;
  border-radius: 30px;
  position: relative;
}

.textbox:before {
  content: ""; 
  position: absolute;
  bottom: -45px;
  left: 30px;
  /* 修正よりコメントアウト。四角を重ねる方法だったが、三角を作るやり方にトライ
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: solid 5px #222;
  transform: rotate(45deg);
  */

  /* 以下修正により追加*/
  width: 0;
  height: 0;
  border: solid 20px transparent;
  border-top-color: #222;
  /* 以上修正により追加 */
}


.textbox:after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  /*
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: solid 5px #fff;
  transform: rotate(45deg);  
  */

  /* 以下修正により追加 */
  width: 0;
  height: 0;
  border: solid 20px transparent;
  border-top-color: #fff;
  /* 以上修正により追加 */
}

.textbox p {
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */
