@charset "UTF-8";

/* 回答はここに書いてね */
.bar_box {
  display: table;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.bar_box:last-child {
  padding: 0 20px 20px 20px;
}

.bar1 {
  background-color: #fbc8b8;
  width: 100px;
}

.bar2 {
  background-color: #e0abd9;
}

.bar3 {
  background-color: #b6d8eb;
  width: 100px;
}

.bar4 {
  background-color: #e5d32e;
}

.bar5 {
  background-color: #ec8f9a;
}

.bar6 {
  background-color: #8fdcab;
  width: 500px;
}

.no-variable {
  padding: 20px;
  text-align: center;
  display: table-cell;
}

.variable {
  width: calc(100% - 200px);
  padding: 20px;
  text-align: center;
  display: table-cell;
}

/* 回答はここに書いてね */