@charset "UTF-8";

/* 回答はここに書いてね */

/*9-1 ここから*/

.image_wrap {
  width: 500px;
  margin: 0 auto;
  height: 333px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image_wrap img {
  transition-duration: 0.5s;
}

.image_wrap:hover img{
  transform: scale(1.5);
}

.text_wrap {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.8));
  width: 100%; /* ピクセル指定から100％に修正。打ち間違え防止や修正をしやするため*/
  height: 100%; /* ピクセル指定から100％に修正。打ち間違え防止や修正をしやするため*/
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 333px;
  left: 0;
  transition: 0.5s;
}

.image_wrap:hover .text_wrap {
  transform: translate(0,-333px);
}

.text_wrap p {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
  
  /* 以下修正のため削除
  この場合テキストを下に配置するのはposition配置がいい。修正に対応しやすくなるから
  height:293px;
  display: table-cell;
  vertical-align: bottom;
  */

  /* 以下修正のため追加 */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
   /* 以下修正のため追加 */
}

/*9-1 ここまで*/


/*9-2 ここから*/


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* 以下修正よりコメントアウト。 より簡単なローダーの作り方があるため */
/*

.q9_contents {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #ecf1f2;
  border-radius: 50%;
  position: relative;
}

.loader {
  width: 50px;
  height: 50px;
  background-color: #00bcd4;
  border-radius: 100px 0 0 0;
}

.loader_wrap {
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.center_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

*/

/* 以下修正より追加　*/
.loader_wrap_borderVer {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-top: solid 10px #00bcd4;
  border-right: solid 10px #ecf1f2;
  border-bottom: solid 10px #ecf1f2; 
  border-left: solid 10px #ecf1f2;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* 回答はここに書いてね */
