@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ECF1F2;
  position: relative;

}
.color_box {
  width: 100px;
  height: 100px; /*修正により追加。line-heightが高さを出してくれているが、高さはheightでちゃんと設定しよう*/
  line-height: 100px;
  /* background-color: red; 修正により削除。消し忘れ*/
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  position: absolute; /* 修正により追加。no1〜9までで指定したabsoluteもここでまとめる*/
}

.no1 {
  background-color: #ffefd3;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 40px;
  left: 200px;
  z-index: 1;
}

.no2 {
  background-color: #7084de;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 120px;
  left: 280px;
  z-index: 2;
}

.no3 {
  background-color: #d0ecea;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 200px;
  left: 360px;
  z-index: 3;
}

.no4 {
  background-color: #8b7a5e;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 280px;
  left: 280px;
  z-index: 4;
}


.no5 {
  background-color: #9fd6d2;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 360px;
  left: 200px;
  z-index: 5;
}

.no6 {
  background-color: #fffee4;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 280px;
  left: 120px;
  z-index: 6;
}

.no7 {
  background-color: #deae70;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 200px;
  left: 40px;
  z-index: 7;
}

.no8 {
  background-color: #de70cf;
  /* position: absolute; 修正により削除。「.color_box」にまとめたため。*/
  top: 120px;
  left: 120px;
  z-index: 8;
}

.no9 {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index:10;
}

.no8:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}


/* 回答はここに書いてね */
